div {
 

}
.login {
  display: grid;
  justify-content: center;
  
  
}

.create_acc p {
  padding-left: 75px;
 position: relative;
 bottom: 12px;
  
}

.form input{
  width: 270px;
  height: 40px;
  
}

.checkbox input{
  zoom: 1.5;
  margin-top: 20px;
  position: relative;
  right: 3px;
  background-color: none;

}
.checkbox p {

  position: relative;
  top: -41px;
  left: 32px;
}

.login button {
  width: 280px;
  height: 40px;
  background-color: #02B2E5;
  color: #FFFFFF;
  font-family: Lato;
  position: relative;
  bottom: 30px;
  }

  .login p:nth-child(5) {
    margin-left: 66px;
    position: relative;
    bottom: 30px;
  }
  a {
    text-decoration: none;
    color: #02B2E5
  }

  p {
    font: normal normal bold 17px Lato;
  }